body {
	font-family: 'Lato', sans-serif;
	color: #2e3044;
	font-weight: 400;
}

hr {
	border: none;
	height: 3px;
	background-color: #bcbbbb;
}

img {
	max-width: 100%;
}

h3 {
	font-size: 35px;
}

.text-muted {
	color: #bcbbbb;
}

.text-thin {
	font-weight: 100;
}

.title-super {
	font-size: 60px;
}

.title-logo {
	margin-top: 20px;
}


